body {
  background: #000000;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue",
    Helvetica, Arial, "Lucida Grande", sans-serif;
  height: 100%;
}

.wrapper {
  font-family: "Press Start 2P", cursive;
  font-size: large;
  width: 100%;
  margin: 32px auto;
  color: #ff006e;
  text-align: center;
}

h1 {
  color: #ffff3f;
  font-family: "Press Start 2P", cursive;
  font-weight: 100;
  font-size: 2.6em;
  text-transform: uppercase;
}

h2 {
  color: #70e000;
  font-family: "Press Start 2P", cursive;
  font-weight: 100;
  font-size: 2.6em;
  text-transform: uppercase;
}

.button {
  background: #a100f2;
  color: #ffff;
  border: solid 3px #ffff3f;
  text-decoration: none;
  cursor: pointer;
  font-size: 1.2em;
  padding: 18px 10px;
  width: 180px;
  margin: 10px;
  outline: none;
  transition-duration: 0.4s;
  cursor: pointer;
}

.buttonStart {
  background: #a100f2;
  color: #ffff;
}

.buttonStart:hover {
  background-color: #ff0a54;
  color: white;
}

.buttonStop {
  background: #a100f2;
  color: #ffff;
}

.buttonStop:hover {
  background-color: #ff0a54;
  color: white;
}

.buttonReset {
  background: #a100f2;
  color: #ffff;
}

.buttonReset:hover {
  background-color: #ff0a54;
  color: white;
}

/*Media Queries*/
@media only screen and (max-width: 1200px) {
  body {
    background-color: none;
  }
}
@media only screen and (max-width: 400px) {
  h1,
  h2 {
    font-size: 32px;
  }
}
